@model CreateCategoryViewModel

<form method="post" asp-area="Admin" asp-controller="Category" asp-action="CreateCategory">

    <div class="form-group">

        <label asp-for="CategoryName">Kategori Adı</label>
        <input asp-for="CategoryName" class="form-control" />
        <span asp-validation-for="CategoryName" class="text-danger"></span>

    </div>

    <button class="btn btn-outline-primary">Oluştur</button>

</form>

<div class="mt-3">
    <a asp-area="Admin" asp-controller="Category" asp-action="Index" class="btn btn-primary">Geri Dön</a>
</div>